{% extends 'base.html' %}


{% block content %}


{% if data %}
    {% if error == True %}
        <h2>ERROR</h2>
    {% else %}
        <div class="jumbotron {{ category_color }}">
            <h1 style="margin: 15px;" class="display-6">{{ data.Category.Name }}</h1>
            <p style="margin: 15px;" class="lead">{{ data.ReportingArea }} air quality: {{ data.AQI }}</p>
            <hr class="my-4">
            <div style="margin: 15px;">
                <p>{{ category_description }}</p>
            <!-- {% if data.Category.Name == "Good" %}
            <p>Air quality is satisfactory, and air pollution poses little or no risk.</p>
            {% elif data.Category.Name == "Moderate" %}
            <p>Air quality is acceptable. However, there may be a risk for some people, particularly those who are unusually sensitive to air pollution.</p>
            {% elif data.Category.Name == "Unhealthy for Sensitive Groups" %}
            <p>Members of sensitive groups may experience health effects. The general public is less likely to be affected.</p>
            {% elif data.Category.Name == "Unhealthy" %}
            <p>Some members of the general public may experience health effects; members of sensitive groups may experience more serious health effects.</p>
            {% elif data.Category.Name == "Very Unhealthy" %}
            <p>Health alert: The risk of health effects is increased for everyone.</p>
            {% elif data.Category.Name == "Hazardous" %}
            <p>Health warning of emergency conditions: everyone is more likely to be affected.</p>
            {% endif %} -->
            </div>
        </div>
    {% endif %}
{% endif %}

{% endblock %}